@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-section {
    padding: 100px 0;
}
/* YOUTUBE VIDEO */
.youtube {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.youtube .youtube-area{
    width: 100%;
    position: absolute;
    top:50%; left:50%;
    /* 9비율 */
    margin-top: calc(100% * 9 / 16 / -2);
    /* 16비율 */
    margin-left: calc(100% / -2);
    /* opacity: ; */
}
.youtube .youtube-area::before {
    content: "";
    display: block;
    /* 16:9 영상비율로 만들기 */
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}
.youtube-cover {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.3);
}
#player {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; bottom: 0;
}