@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.youtube {
    position: relative;
    width: 100%;
    height: 0;
    /* background-color: blue; */
    overflow: hidden;
    padding-top: 56.25%;
}
.youtube .youtube-area {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%; top: 0;
    transform: translateX(-50%);
}
.youtube .youtube-cover {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.3);
}
#player {
    width: 100%; height: 100%;
    position: absolute;
    top: 0; bottom: 0;
}
